<ul class="menu">

<!--          <li><a class="page-link" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></li> -->
<li><a class="page-link" href="{{ '/syllabus/' | relative_url }}"><i class="fa fa-list-ul fa-lg"></i> 教学大纲</a></li>
<li><a class="page-link" href="{{ '/course-materials/' | relative_url }}"><i class="fas fa-book"></i> 课程资料</a></li>
<li><a class="page-link" href="{{ '/lectures/' | relative_url }}"><i class="fas fa-book-reader"></i> 课程讲义</a></li>
<li><a class="page-link" href="{{ '/announcements/' | relative_url }}"><i class="fas fa-bullhorn"></i> 课程通知</a></li>
<li><a class="page-link" href="https://github.com/{{ site.githubdir }}"><i class="fab fa-github"></i></a></li>
<li><a class="page-link" href="{{ site.authorurl }}"><i class="fa fa-user fa-lg"></i></a></li> 
    </ul>
